{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 60px">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'feeds:list' %}">Feeds</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'feeds:detail' object.feed.pk %}">{{object.feed.name}}</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ object.title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <h1 class="text-center">{{ object.title }}</h1>
                <p>{{ object.description|safe }}</p>
                <a href="{{ object.link }}" target="_blank">Read full article</a>
                {% if object.favourite %}
                    <form action="{% url 'feed_items:favourites_delete' object.favourite.pk %}" method="post" style="display: inline-block">
                        {% csrf_token %}
                        <button type="submit" class="btn"><i class="fas fa-heart"></i></button>
                    </form>
                {% else %}
                    <form action="{% url 'feed_items:favourites_create' %}" method="post" style="display: inline-block">
                        {% csrf_token %}
                        <input type="hidden" name="feed_item" value="{{ object.pk }}">
                        <button type="submit" class="btn"><i class="far fa-heart"></i></button>
                    </form>
                {% endif %}
            </div>
        </div>
        {% include 'feed_items/comments.html' %}
    </div>
{% endblock %}
