<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 50px">
    <a class="navbar-brand" href="{% url 'index' %}">FeedParser</a>
    <ul class="navbar-nav mr-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'feeds:list' %}">My feeds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'feed_items:favourites_list' %}">Favourite articles</a>
            </li>
        {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}" tabindex="-1">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}" tabindex="-1">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}" tabindex="-1">Signup</a>
            </li>
        {% endif %}
    </ul>
</nav>
