{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row" style="margin-bottom: 60px">
            <div class="col-md-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'feeds:list' %}">Feeds</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ feed.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            {% if not feed.fetcher.enabled %}
                <div class="col-md-8 offset-md-2">
                    <div class="alert alert-danger" role="alert">
                        We aren't able to automatically update your feed anymore. Please, try manual update instead!
                    </div>
                </div>
            {% endif %}
            <div class="col-md-12">
                <h1 class="text-center">{{ feed.name }} <span class="badge badge-pill badge-danger">{{not_viewed_items_count}}</span></h1>
                <h3 class="text-center"> <a href="{% url 'feeds:fetch_items' feed.pk %}">Update <i class="fas fa-sync-alt"></i></a></h3>
                <div class="list-group">
                    {% for item in page_obj %}
                        <a href="{% url 'feed_items:detail' item.pk %}" class="list-group-item list-group-item-action {% if not item.viewed %}list-group-item-primary{% endif %}">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1">{{ item.title }}</h5>
                                <small>{{item.publication_date}}</small>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% include 'pagination.html' %}
{% endblock %}
