{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-1 col-md-10">
                <div class="card">
                    <div class="card-header">
                        My feeds
                    </div>
                    {% if object_list %}
                        <ul class="list-group list-group-flush">
                            {% for feed in object_list %}
                                <li class="list-group-item">
                                    <a href="{% url 'feeds:detail' feed.pk %}">{{ feed.name }}</a>
                                    <a href="{% url 'feeds:update' feed.pk %}"><i class="far fa-edit"></i></a>
                                    <a href="{% url 'feeds:delete' feed.pk %}"><i class="far fa-trash-alt"></i></a>
                                </li>

                            {% endfor %}
                        </ul>
                        <div class="card-body">
                            <a href="{% url 'feeds:create' %}" class="btn btn-primary">Create a feed</a>
                        </div>
                    {% else %}
                        <div class="card-body">
                            <h5 class="card-title">You don't have any created feeds yet</h5>
                            <p class="card-text">You definitely should create one </p>
                            <a href="{% url 'feeds:create' %}" class="btn btn-primary">Create a feed</a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'pagination.html' %}
{% endblock %}
