{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-4 col-md-4">
            {% if form.errors %}
                <p>Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form  method="post" action="{% url 'accounts:login' %}">
                {% csrf_token %}
                {% include 'form_fields.html' %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            </div>
        </div>
    </div>
{% endblock %}
