{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="offset-md-4 col-md-4">
            <form  method="post" action="{% url 'accounts:signup' %}">
                {% csrf_token %}
                {% include 'form_fields.html' %}
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="hidden" name="next" value="{{ next }}">
            </form>
            </div>
        </div>
    </div>
{% endblock %}
